.card {
    position: relative;
    padding: 20px;
    background-color: #212121;
    border-radius: 10px;
    color: #ffffff; // Text color
  
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  
    &__actions {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      display: flex;
  
      .card__icon {
        font-size: 1.5rem;
        color: #ffffff;
        cursor: pointer;
        transition: color 0.3s;
  
        &:hover {
          color: #ff0000; // Hover color (red)
        }
      }
    }
  }
  